<div id="comments-container">
  <!-- javascript will add comments here. loaded from backend and/or submitted successfully -->
  <!-- Add a comment count display -->

  <h3>Commenti (<span id="comment-count">0</span>) </h3>
  <p id="last-comment-time" style="color:gray" hidden></p>
</div>

<!-- Add a comment count display -->
<h3>Nuovo commento</h3>

<form id="new-comment-form" action="{{ .Site.Params.commentServer }}">
  <input type="hidden" name="post" value="{{ .File.BaseFileName }}" />
  <br /><input type="text" name="name" placeholder="* Nome" required />
  <br /><textarea rows="5" name="message" placeholder="* Commento" oninput="typeComment(this);" required></textarea>
  <br />
  <div id="preview" hidden></div>
  <button id="new-comment-submit" class="btn-ready" type="submit" value="Send" tabindex="0">
    Invia
  </button>
</form>

<script src="/js/purify.min.js"></script>
<script src="/js/marked.min.js"></script>
<script src="/js/avatary.js"></script>

<script language="javascript">
  // Initialize comment count
  let commentCount = 0;

  // Function to update the comment count display
  function updateCommentCount() {
    document.getElementById("comment-count").textContent = commentCount;
  }

  // Function to update the last comment timestamp display
  function updateLastCommentTimestamp() {
    const lastCommentTimeElement = document.getElementById("last-comment-time");
    if (lastCommentTimestamp) {
      const d = new Date(lastCommentTimestamp);
      const date =
        d.getDate() +
        " " +
        monthNames[d.getMonth()] +
        " " +
        d.getFullYear() +
        " alle " +
        d.getHours() +
        ":" +
        ("0" + d.getMinutes()).slice(-2) +
        ":" +
        ("0" + d.getSeconds()).slice(-2);
      lastCommentTimeElement.textContent = "Ultimo commento: " + date;
      lastCommentTimeElement.hidden = false;
    } else {
      lastCommentTimeElement.hidden = true;
    }
  }
  // Funzione attivata quando si digita all'interno della TextView di Commento
  function typeComment(tv) {
    // Ridimensiono la dimensione della TextView per adattarla alla lunghezza del commento
    tv.style.height = "auto";
    tv.style.height = tv.scrollHeight + "px";

    // Mostro la preview del commento
    if (tv.value != "") {
      var txt = "";
      txt += '<article id="comment" class="comment">\n';
      txt +=
        '\t<img class="commentAvatar" src="' +
        avatary.get(
          document
            .getElementById("new-comment-form")
            .querySelector('[name="name"]').value,
        ) +
        '">\n';
      txt += '\t<div class="commentRight">\n';
      txt += '\t\t<p class="commentAuthor"><em>Anteprima commento:</em></p>\n';
      txt +=
        '\t\t<div class="commentMessage" inert>' +
        DOMPurify.sanitize(marked.parse(tv.value)) +
        "</div>\n";
      txt += "\t</div>\n";
      txt += "</article>\n";

      document.getElementById("preview").hidden = false;
      document.getElementById("preview").innerHTML = txt;
    } else {
      document.getElementById("preview").hidden = true;
      document.getElementById("preview").innerHTML = "";
    }
  }

  function codeToHTMLentities(mdWithHtml) {
    var result = mdWithHtml.replace(
      /<code>([\s\S]*?)<\/code>/gm,
      function (a, b) {
        return "<code>" + toHtmlEntities(b) + "</code>";
      },
    );

    result = result.replace(/^```([\s\S]*?)```$/gm, function (a, b) {
      return "<pre><code>" + toHtmlEntities(b) + "</code></pre>";
    });

    result = result.replace(/`([^`]+)`/g, function (a, b) {
      return "<code>" + toHtmlEntities(b) + "</code>";
    });

    return result;
  }

  function toHtmlEntities(str) {
    var map = {
      "&": "&amp;",
      "<": "&lt;",
      ">": "&gt;",
      "'": "&#39;",
      '"': "&quot;",
    };

    return str.replace(/[&<>"']/g, function (m) {
      return map[m];
    });
  }

  var monthNames = [
    "Gennaio",
    "Febbraio",
    "Marzo",
    "Aprile",
    "Maggio",
    "Giugno",
    "Luglio",
    "Agosto",
    "Settembre",
    "Ottobre",
    "Novembre",
    "Dicembre",
  ];

  function domReady(fn) {
    if (
      document.readyState === "complete" ||
      document.readyState === "interactive"
    ) {
      setTimeout(fn, 1);
    } else {
      document.addEventListener("DOMContentLoaded", fn);
    }
  }

  marked.use({
    breaks: true,
    gfm: true,
  });

  avatary.use({
    contrast: true, // COLORE LETTERE: true ->  bianche o nere in contrasto con lo sfondo, false -> sempre bianche
    fontFamily: "Playfair Display",
    capitalsVerticalOffset: 2, // offset verticale per quelle lettere che sono tutte in maiuscolo, in modo da centrarle verticalmente
    size: 60,
    radius: 10,
    borderSize: 0,
    bgShade: true, // colore di sfondo leggermente sfumato
    bgReflex: true, // riflesso di luce
  });

  var addComment = function (data) {
    const container = document.getElementById("comments-container");

    var txt = "";
    var d = new Date(data.Ts);
    var date =
      d.getDate() +
      " " +
      monthNames[d.getMonth()] +
      " " +
      d.getFullYear() +
      " alle " +
      d.getHours() +
      ":" +
      ("0" + d.getMinutes()).slice(-2) +
      ":" +
      ("0" + d.getSeconds()).slice(-2);
    var msg = DOMPurify.sanitize(marked.parse(data.Message)); // Converte il markdown e lo sanifica.
    var avatarSrc = avatary.get(data.Author);
    txt += '<article id="comment" class="comment">\n';
    txt += '\t<img class="commentAvatar" src="' + avatarSrc + '">\n';
    txt += '\t<div class="commentRight">\n';
    txt += '\t\t<p class="commentAuthor">' + data.Author + "</p>\n";
    txt +=
      '\t\t<time class="entry-date" datetime="' +
      data.Ts +
      '">' +
      date +
      "</time>\n";
    txt += '\t\t<div class="commentMessage">' + msg + "</div>\n";
    txt += "\t</div>\n";
    txt += "</article>\n";
    container.innerHTML += txt;

    // Update last comment timestamp
    lastCommentTimestamp = data.Ts;
    updateLastCommentTimestamp();    // Increment comment count and update display
    commentCount++;
    updateCommentCount();

  };

  domReady(async function () {
    let form = document.getElementById("new-comment-form");
    let commentsUrl = "{{.Site.Params.commentServer}}/{{ .File.BaseFileName }}";

    form.addEventListener("submit", (event) => {
      event.preventDefault();
      sendData();
    });

    const response = await fetch(commentsUrl);
    if (response.ok) {
      comments = await response.json();
      comments.forEach(addComment);
    } else {
      e =
        "<div><b>Impossibile caricare i commenti</b></br>" +
        status +
        " " +
        err +
        "<br/>Funzione commenti disabilitata";
      form.parentNode.insertBefore(document.createElement(e), form);
      form.display = "none";
    }

    // Imposto il campo input special
    document
      .getElementById("new-comment-form")
      .querySelector('[name="message"]').onfocus = function () {
        if (
          document
            .getElementById("new-comment-form")
            .querySelector('[name="special"]') == null
        ) {
          var special = document.createElement("input");
          special.setAttribute("type", "hidden");
          special.setAttribute("name", "special");
          special.setAttribute("value", "PIPPO"); // Qui naturalmente va cambiato con il valore corretto
          document.getElementById("new-comment-form").appendChild(special);
        }
      };

    const textarea = document.querySelector("textarea");
    textarea.addEventListener("keydown", (e) => {
      if (e.metaKey && e.keyCode === 13) {
        sendData();
      }
    });

    async function sendData() {
      document.querySelector("#new-comment-submit").textContent =
        "Invio in corso...";
      const formData = new FormData(form);

      // Recupera il testo del commento, lo sanitizza, lo sostituisce nel form
      const msg = formData.get("message");
      const sanitizedMsg = DOMPurify.sanitize(codeToHTMLentities(msg));
      formData.set("message", sanitizedMsg);

      try {
        const response = await fetch(commentsUrl, {
          method: "POST",
          body: formData,
        });
        button = document.querySelector("#new-comment-submit");
        if (response.ok) {
          button.textContent = "Pubblicato!";
          button.className = "btn-ok";
          comment = await response.json();
          addComment(comment);
          // Resetto solo il campo commento
          document
            .getElementById("new-comment-form")
            .querySelectorAll("textarea")
            .forEach((textarea) => {
              textarea.value = "";
            });
          document.getElementById("preview").innerHTML = "";
          document.getElementById("preview").hidden = true;

          button.textContent = "Invia";
          button.className = "btn-ready";
        } else {
          button.className = "btn-err";
          const message = await response.text();
          button.textContent =
            "failed with status " + response.status + " " + message;
        }
      } catch (e) {
        button.textcontent = "failed with error " + e;
        console.error(e);
      }
    }
  });
</script>
