<!-- Partial for Archivio index -->
{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <header>
          <h1 align="center">{{ with .Site.GetPage "section" "Script" }}{{ "Archivio Script" }}{{ end }}</h1>
        </header>
        <!-- genera elenco  dei post per anno e mese -->
        {{ range .Pages.GroupByDate "2006" }}
        {{ $year := .Key }}
        {{ range .Pages.GroupByDate "January" }}
        {{ $month := .Key }}
        <h2 style="text-align: center;"> {{ $year }} </h2>
        <div>
        <h3>{{ $month }}</h3>
          <ul class="senza">
            <div class="elenchi">
             {{ range .Pages }}
              <li>
                {{ .PublishDate | time.Format "Monday 2" }}
                <a href={{ .RelPermalink }}>{{ .Title }}</a>
              </li>
              {{ end }}
            </div>
          </ul>
        </div>
        {{ end }}
        {{ end }}
        <!-- fine elenco -->
    </div>
    {{ partial "sidebar.html" . }}
    </article>
  </div>
</div>
{{ partial "footer.html" . }}
